@import url(https://fonts.googleapis.com/css?family=Poppins:regular,600);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px !important;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins'
}
p {
  display: inline !important;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
button {
  font-size: 16px !important;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.ht {
  color: #C83C29;
  text-transform: capitalize;
}
.ct {
  text-transform: capitalize;
}